{:paths ["src"]
 :deps {jinx {:mvn/version "0.1.6"}
        juxt/crux-core {:mvn/version "20.04-1.8.1-alpha"}
        yada {:mvn/version "1.2.15"}
        aleph {:mvn/version "0.4.6"}}
 :aliases
 {:dev {:extra-paths ["test" "example"]}}}
