{"components" {; An employer can alter their employees holidays
               "manager" {"type" "object"
                          "crux:document" true
                          "crux:type" "manager"
                          "required" ["employeeInfo"]
                          "not" {"required" ["employees"]}
                          ; Who they are, not who they manage
                          "properties" {"employeeInfo" {"type" "string"
                                                        "crux:ref" "employee"}}}
               ; An employee can create holidays, they only have a manager if
               ; it's relevant
               "employee" {"type" "object"
                           "crux:document" true
                           "crux:type" "employee"
                           "crux:containerAttribute" "manager"
                           "required" ["code" "name"]
                           "properties" {"code" {"type" "string"}
                                         "name" {"type" "string"}
                                         "manager" {"type" "string"
                                                    "crux:ref" "manager"}}}
               ; A holiday has a start -> end time and an associated employee
               ; who it relates to
               "holiday" {"type" "object"
                          "crux:document" true
                          "crux:type" "holiday"
                          "required" ["start" "end" "employee"]
                          "properties" {"start" {"type" "string"}
                                        "end" {"type" "string"}
                                        "employee" {"type" "string"
                                                    "crux:ref" "employee"}}}
               "deepManager" {"type" "object"
                              "crux:document" true
                              "crux:type" "manager"
                              "required" ["employeeInfo" "employees"]
                              ; Who they are, not who they manage
                              "properties" {"employeeInfo" {"type" "string"
                                                            "crux:ref" "employee"}
                                            "employees" {"type" "array"
                                                         "items" {"$ref" "#/components/employee"}}}}}

 "anyOf" [{"$ref" "#/components/employee"}
          {"$ref" "#/components/holiday"}
          {"$ref" "#/components/manager"}
          {"$ref" "#/components/deepManager"}]}
